<div class="mt-4">
    <div class="row">

        {{#each items}}
        <div class="col-sm-6 col-lg-4">
                <div class="card card-item">
                    <a href="/items/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <a href="/items/{{this.slug}}">
                            <h5 class="card-title">{{this.name}}</h5>
                        </a>
                    <p class="card-text">{{this.price}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>